*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 80%;
  margin: 30px auto;
}

.row{
  margin-bottom: 40px;
}

/* SCHEDA PRODOTTO */
.product{
  width: calc(100% / 3);
  display: inline-block;
  padding: 10px
}

.product .top{
  cursor: pointer;
  position: relative;
}

/* box immagine */
.top img{
  width: 100%;
}

.image-b{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.top:hover .image-a{
  visibility: hidden;
}

.top:hover .image-b{
  display: inline-block;
}

/* like badge */
.like{
  width: 40px;
  height: 40px;
  background-color: white;
  text-align: center;
  position: absolute;
  right: 0;
  top: 15px;
}

.like::after{
  content:'\2665';
  color: black;
  font-size: 25px;
  line-height: 40px;
}

/* labels */
.label{
  position: absolute;
  left: 0;
  bottom: 30px;
}

.discount, .green{
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.discount{
  background-color: #E0002F;
}

.green{
  background-color: #167549;
}

/* DESCRIZIONE PRODOTTO */
.bottom{
  margin-top: 10px;
}

.brand{
  font-size: 12px;
}

.sales-price, .original-price{
  font-size: 14px;
}

.sales-price{
  color: red;
  font-weight: bold;
}

.original-price{
  text-decoration: line-through;
}
